/* Avenir Next */
@font-face {
  font-family: 'Avenir Next';
  src: url('/fonts/Avenir-Next/Avenir-Next-LT-Pro-Regular.otf') format('opentype');
  font-weight: 400; /* Regular */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('/fonts/Avenir-Next/Avenir-Next-LT-Pro-Bold.otf') format('opentype');
  font-weight: 700; /* Bold */
  font-style: normal;
  font-display: swap;
}

/* Work Sans */
@font-face {
  font-family: 'Work Sans';
  src: url('/fonts/Work-Sans/WorkSans-Regular.ttf') format('truetype');
  font-weight: 400; /* Regular */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url('/fonts/Work-Sans/WorkSans-Medium.ttf') format('truetype');
  font-weight: 500; /* Medium */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url('/fonts/Work-Sans/WorkSans-SemiBold.ttf') format('truetype');
  font-weight: 600; /* SemiBold */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url('/fonts/Work-Sans/WorkSans-Bold.ttf') format('truetype');
  font-weight: 700; /* Bold */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url('/fonts/Work-Sans/WorkSans-ExtraBold.ttf') format('truetype');
  font-weight: 800; /* ExtraBold */
  font-style: normal;
  font-display: swap;
}
